<!DOCTYPE html>
<html>

    <head>
        <title>Error</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" />
    </head>

    <body>
        <nav>
            <a href="/" class="brand"><span>Error</span></a>

            <div class="menu">
                <a href="/" class="button success">Back</a>
            </div>
        </nav>
    
        <article class="flex two" style="padding: 3em 1em;">

            <div>
                <h3>{{ message }}</h3>
            </div>
        </article>
    </body>
</html>