<!DOCTYPE html>
<html>

    <head>
        <title>No Data</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" />
    </head>

    <body>
        <nav>
            <a href="/" class="brand"><span>No Data yet</span></a>

            <div class="menu">
                <a href="/refresh" class="button success">Refresh Data</a>
            </div>
        </nav>
    
        <article class="flex two" style="padding: 3em 1em;">

            <div>
                <h3>No Data yet, refresh to access the database.</h3>
            </div>
        </article>
    </body>
</html>