<!DOCTYPE html>
<html>

    <head>
        <title>Refresh</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" />
    </head>

    <body>
        <nav>
            <a href="/" class="brand"><span>Refresh</span></a>

            <div class="menu">
                <a href="/" class="button success">Home</a>
                <a href="/cities" class="button button">Cities</a>
            </div>
        </nav>

        <article class="flex two" style="padding: 3em 1em;">

            <div>
                <h2>Data refreshed!</h2>
            </div>
        </article>
    </body>
</html>